body {
    margin: 0;
    background: black;
    color: #00ff00;
    font-family: Consolas, monospace;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 2;
    padding: 20px;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 250px;
    background: #111;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 10px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #00ff00;
    color: black;
    border: none;
    cursor: pointer;
}

#output {
    margin-top: 15px;
    padding: 10px;
    background: #000;
    border: 1px solid #00ff00;
    height: 150px;
    overflow-y: auto;
}

/* SNOW CANVAS */
#snow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
